body {
  margin: 0;
  background-color: #eeeeee;
}

#table {
  position: absolute;
  top: 300px;
  left: 0;

  width: 100vw;
  height: 300px;
  background-color: #d6c6a8;
  border:2px solid rgba(0,0,0,0.5);
  box-shadow:2px 3px 8px black;
}

#ipad {
  position: absolute;
  top: 270px;
  left: 200px;

  width: 220px;
  height: 20px;
  background-color: #4a6cff;
  border:2px solid rgba(0,0,0,0.5);
  box-shadow:2px 3px 8px black;
}

#orange {
  position: absolute;
  top: 220px;
  left: 480px;

  width: 80px;
  height: 80px;
  border-radius: 50%;
  border:2px solid rgba(0,0,0,0.5);
  box-shadow:2px 3px 8px black;
  
  background:linear-gradient(
  to right,
  orange, 
  transparent);
}
